.row
  .col-md-12
    p {{ M.tagline2 }}
    center
      .video-container
        iframe(width="560" height="315" ng-src="{{ M.video }}" frameborder="0" allowfullscreen)
        //-div
          video(
            controls="controls"
            width="720px"
            ng-attr-poster="{{ M.videoPoster }}"
            ng-src="{{ M.video }}"
          )
            //-source(ng-repeat="v in M.videoSrc" ng-src="{{v.src}}" ng-attr-type="{{v.type}}")

.row
  br

.row
  .col-md-12(style="text-align: center;")
    //.video-container 
    .aj-carousel(style="margin: 0 auto; width: 90%;")
      carousel(interval='myInterval')
        slide(ng-repeat='slide in slides', active='slide.active')
          img(ng-src='{{slide.image}}', style='margin:auto;')
          //-.carousel-caption
            h4 {{slide.text}}
            p {{$index}}
