h2 Privacy Policy
p.
  When making inqueries via the web contact form, phone, or texting
  we will use the information we gather for the purpose of
  providing the requested services and or contacting you.
p.
  On occasions where we are not able to provide the requested services -
  such as a scheduling conflict, sickness, etc - we may provide the service through
  one of our trusted associates,
  in which case we will give them the relevant information to render the requested
  service and notify you of the change.
p.
  However, we will not sell or otherwise distribute your information to 3rd parties
  for marketing purposes.
p.
  We do not store sensitive information (such as credit cards). We use Square, Stripe,
  and PayPal for credit card processing.
