.navbar {
  border-radius: 0;
}

.auth-modal .nav {
  margin: 1.2rem 0 -1.6rem;
}
.auth-modal .signin-options {
  margin: 0.2rem 1.6rem -1.2rem;
}
.auth-modal .signin-options [class^="col"] {
  margin: 0 0 1.6rem;
}
.auth-modal .signin-options button {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.auth-modal .signin-options span.signin {
  display: block;
  font-size: 0.8em;
}

.btn-ldsconnect {
  background-color: #9aa85f;
  color: white;
}
.btn-ldsconnect:hover {
  background-color: #91a053;
  color: white;
}
.btn-envelope {
  background-color: #777777;
  color:white
}
.btn-envelope:hover {
  background-color: #666666;
  color:white
}

@media (max-width: 767px) {
  .auth-modal .signin-options {
    margin-left: 0;
    margin-right: 0;
  }
}
