.cc-entry-fields {
    margin: 10px auto;
    width: 350px;
}
.cc-entry-field {
	font: normal 14px/17px Arial;
	padding: 8px;
	float: left;
}
.cc-entry-field[name=number],
.cc-entry-field[name=name] {
	width: 175px;
	border: 1px solid #ccc;
}
.cc-entry-field[name=name] {
	border-left: none;
}
.cc-entry-field[name=expiry],
.cc-entry-field[name=cvc] {
	width: 87px;
	border: 1px solid #ccc;	
	border-top: none;
}
.cc-entry-field[name=cvc] {
	border-left: none;
	width: 88px;
}
.cc-entry-field[name=submit] {
	width: 175px;
	background-color: #008cba;
	color: #fff;
	border: 1px solid #008cba;
	border-top: none;
	box-shadow: none;
}
.cc-entry-field[name=submit]:hover,
.cc-entry-field[name=submit]:focus {
	background-color: #19ACDD;
}