.row
  .col-md-12
    p Doing a lot of awesome with our crazy tagline here. Make sure to check out the amazing video.
    center
      .video-container
        iframe(width="560" height="315" ng-src="{{ M.video }}" frameborder="0" allowfullscreen)
        //-div
          video(
            controls="controls"
            width="720px"
            poster="https://s3.amazonaws.com/ksr/projects/392582/photo-main.jpg?1397803142"
            ng-src="{{ M.video }}"
          )
            //-source(ng-src="{{M.video}}" type="video/mp4")

.row
  br

.row
  .col-md-12(style="text-align: center;")
    //.video-container 
    .aj-carousel(style="margin: 0 auto; width: 90%;")
      carousel(interval='myInterval')
        slide(ng-repeat='slide in slides', active='slide.active')
          img(ng-src='{{slide.image}}', style='margin:auto;')
          //-.carousel-caption
            h4 {{slide.text}}
            p {{$index}}

