h3 About
p 2 parts magic, 3 parts pure organic awesome extract

h4 Who is AJ?
center
  iframe(width="560", style="max-width: 100%;", src="//ldsconnect.org/vids/who-am-i", frameborder="0", allowfullscreen)
