form.form-horizontal(ng-submit="F.submit()")
  fieldset
    legend Legend
    .form-group
      label.col-lg-2.control-label(ng-model="F.Email" for="inputEmail") Email
      .col-lg-10
        input#inputEmail.form-control(type="text" placeholder="Email")
    .form-group
      label.col-lg-2.control-label(for="inputPassword") Password
      .col-lg-10
        input#inputPassword.form-control(ng-model="F.Password" type="password" placeholder="Password")
        .checkbox
          label
            input(ng-model="F.Checkbox.Option1" type="checkbox" value="Option1")
            |  Checkbox
    .form-group
      label.col-lg-2.control-label(for="textArea") Textarea
      .col-lg-10
        textarea#textArea.form-control(ng-model="F.Textarea" rows="3")
        span.help-block
          | A longer block of help text that breaks onto a new line and may extend beyond one line.
    .form-group
      label.col-lg-2.control-label Radios
      .col-lg-10
        .radio
          label
            input#optionsRadios1(ng-model="F.Radios" type="radio" name="optionsRadios" value="option1" checked="")
            |             Option one is this
        .radio
          label
            input#optionsRadios2(ng-model="F.Radios" type="radio" name="optionsRadios" value="option2")
            |             Option two can be something else
    .form-group
      label.col-lg-2.control-label(for="select") Selects
      .col-lg-10
        select#select.form-control(ng-model="F.Selects.selectOne")
          option 1
          option 2
          option 3
          option 4
          option 5
        br
        select.form-control(ng-model="F.Selects.selectMultiple" multiple="multiple")
          option 1
          option 2
          option 3
          option 4
          option 5
    .form-group
      .col-lg-10.col-lg-offset-2
        button.btn.btn-default(ng-click="F.cancel()") Cancel
        button.btn.btn-primary(type="submit") Submit
