.footer
  .container
    
    br
    center
      p
        span
          a(href="mailto:MAIL@CHANGE_MY_URL") MAIL@CHANGE_MY_URL

        span   •   

        span
          a(href="tel:+15552220123") (555) 222-0123

        span   •   

        span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
          span(itemprop="addressLocality") Baywatch
          span ,   
          span(itemprop="addressRegion") CA
          span   •   
          span(itemprop="postalCode") 90210

      p Copyright © 2010-2014 CHANGE MY TITLE

      p 
        span Built with&#32;
        a(target="_blank"
        , href="https://ldsconnect.org/vids/built-with-love"
        , style="text-decoration: none; color: #F778A1; font-size: 1.3em;"
        )  &#x2665;
        span &#32;by&#32;
        a(target="_blank", href="http://blog.coolaj86.com") AJ
        span &#32;(
        a(target="_blank", href="http://AJ.the.DJ") the DJ
        span )&#32;
        a(target="_blank", href="http://fb.com/coolaj86") ONeal

