.row
  h3 Please sign in to continue
  p
    button.btn.btn-facebook(type="button", ng-click="L.loginWithFb()")
      i.fa.fa-facebook-square
      span  | Connect with Facebook

    button.btn.btn-twitter(type="button", ng-click="L.loginWithTw()")
      i.fa.fa-twitter-square
      span  | Connect with Twitter

  //-p
    a(href="", ng-click="L.loginWithEmail()") use e-mail
.row
  p
    a(href="", ng-click="L.cancel()") cancel
