h3 Store
  
h4 Products
.row
  .col-sm-6(ng-repeat="product in S.products")
    .media
      .pull-left
        img.media-object(ng-src="{{product.imgsrc}}")
      .media-body
        h4.media-heading {{product.title}} ${{ (product.amount/100).toFixed(2) }}
        p {{ product.desc }}
        p
          button.btn.btn-primary(ng-click="S.buy(product)") Buy

h5 Services
.row
  .col-sm-6(ng-repeat="product in S.subscriptions")
    .media
      .pull-left
        img.media-object(ng-src="{{product.imgsrc}}")
      .media-body
        h4.media-heading {{product.title}} ${{ (product.amount/100).toFixed(2) }}/{{ product.period }}
        p {{ product.desc }}
        p
          button.btn.btn-primary(ng-click="S.subscribe(product)") Subscribe
