div
  div(ng-if="M.submitted")
    h2 Thanks!
    br
    h3 We'll be in touch shortly.
  form.form-horizontal(ng-if="!M.submitted" ng-submit="M.contact()")
    fieldset
      legend
        h2
          span Contact Us
          span &nbsp;
          span &nbsp;
          a(href="https://www.facebook.com/AJtheDJEvents", target="_blank")
            i.fa.fa-facebook-square
          span &nbsp;
          span &nbsp;
          a(href="https://twitter.com/AJtheDJEvents", target="_blank")
            i.fa.fa-twitter-square
      .row
        .col-lg-12
          .form-group
            label.col-lg-2.control-label(for='inputName') Name
            .col-lg-10
              input#inputName.form-control(ng-model="M.contactForm.name" required type='text', placeholder='Name')
          .form-group
            label.col-lg-2.control-label(for='inputPhone') Phone
            .col-lg-10
              input#inputPhone.form-control(ng-model="M.contactForm.phone" required type='tel', placeholder='Phone')
          //-.checkbox
            label
              input(type='checkbox')
              |  Checkbox
          .form-group
            label.col-lg-2.control-label(for='inputEmail') Email
            .col-lg-10
              input#inputEmail.form-control(ng-model="M.contactForm.email" required type='email', placeholder='Email')
          .form-group
            label.col-lg-2.control-label(for='comments')
              span Details
            .col-lg-10
              textarea#textArea.form-control(ng-model="M.contactForm.message" required rows='3')
              span.help-block
                | Please include the Date of your event, Venue or Location, and the best time to call you back.
          //-
            .form-group
              label.col-lg-2.control-label Radios
              .col-lg-10
                .radio
                  label
                    input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                    |             Option one is this
                .radio
                  label
                    input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                    |             Option two can be something else
            .form-group
              label.col-lg-2.control-label(for='select') Selects
              .col-lg-10
                select#select.form-control
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                br
                select.form-control(multiple='')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
          .form-group
            .col-lg-10.col-lg-offset-2
              //-button.btn.btn-default Cancel
              button.btn.btn-primary(type="submit") Send
              .pull-right
                a(ng-href="#privacy" du-smooth-scroll) Privacy Policy
