.auth-modal
  .modal-header
    button.close(type="button", ng-click="T.cancel()") &times;
    h4.modal-title {{ T.title }}
    .alert(ng-if="T.alertMessage", ng-class="{{T.alertType}}")
      span(ng-bind="T.alertMessage")

  .modal-body
    .row
      .col-xs-12
        //- TODO select payment method
        //- TODO use store credit / wallet
        button.btn.btn-primary(type="button" ng-click="T.confirm()") Confirm {{ T.transactionType }}
        button.btn.btn-danger.pull-right(type="button" ng-click="T.cancel()") Cancel
