.container
  .row
    .col-xs-12
      form.form-horizontal(ng-if="!Call.submitted" ng-submit="Call.dial(Call.phone)")
        fieldset
          legend
            h2
              span Make a Call from 385-722-5050
          .row
            .form-group
              label.col-xs-12.control-label(for='inputPhone') Phone
              .col-xs-12
                input#inputPhone.form-control(ng-model="Call.phone" required type='tel', placeholder='Phone')

          .form-group
            .row(ng-repeat="row in [[1,2,3],[4,5,6],[7,8,9],['*',0,'#']]")
              .col-xs-4(ng-repeat="cell in row")
                button.form-control.btn.btn-default(ng-click="Call.addDigit(cell)") {{ cell }}

            .row
              .col-xs-4
              .col-xs-4
                button.form-control.btn.btn-default(type="submit") Call
              .col-xs-4
