.container
  h3(ng-bind="C.name")

  .row
    .panel.panel-info.visible-lg-inline-block
      table.table
        tr(ng-show="0 === C.nodes.length")
          th You have no contact information.
        tr(ng-hide="0 === C.nodes.length")
          th Type
          th Value
          //- Possibly put timestamps here

        tr(ng-repeat="node in C.nodes")
          td: span(ng-bind="node.type")
          td: span(ng-bind="node.node")
