.footer
  .container
    
    br
    center
      p
        span
          a(href="mailto:AJ@the.DJ") AJ@the.DJ

        span   •   

        span
          a(href="tel:+13857225050") (385) 722-5050

        span   •   

        span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
          span(itemprop="addressLocality") Orem
          span ,   
          span(itemprop="addressRegion") UT
          span   •   
          span(itemprop="postalCode") 84057

      p Copyright © 2010-2014 AJ the DJ LLC

      p 
        span Built with&#32;
        a(target="_blank"
        , href="https://ldsconnect.org/vids/built-with-love"
        , style="text-decoration: none; color: #F778A1; font-size: 1.3em;"
        )  &#x2665;
        span &#32;by&#32;
        a(target="_blank", href="http://blog.coolaj86.com") AJ
        span &#32;(
        a(target="_blank", href="http://AJ.the.DJ") the DJ
        span )&#32;
        a(target="_blank", href="http://fb.com/coolaj86") ONeal

