.footer
  .container
    
    br
    center
      p
        span
          a(ng-href="mailto:{{ F.tpl.email }}") {{ F.tpl.email }}

        span   •   

        span
          a(href="tel:{{ F.tpl.phoneIntl }}") {{ F.tpl.phone }}

        span   •   

        span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
          span(itemprop="addressLocality") {{ F.tpl.city }}
          span ,   
          span(itemprop="addressRegion") {{ F.tpl.st }}
          span   •   
          span(itemprop="postalCode") {{ F.tpl.zip }}{{ (F.tpl.zipExt ? '-' + F.tpl.zipExt : '') }}

      p Copyright © 2010-{{ F.currentYear }} {{ F.tpl.title }}

      p 
        span Built with&#32;
        a(target="_blank"
        , href="https://ldsconnect.org/vids/built-with-love"
        , style="text-decoration: none; color: #F778A1; font-size: 1.3em;"
        )  &#x2665;
        span &#32;by&#32;
        a(target="_blank", href="http://blog.coolaj86.com") AJ
        span &#32;(
        a(target="_blank", href="http://AJ.the.DJ") the DJ
        span )&#32;
        a(target="_blank", href="http://fb.com/coolaj86") ONeal
