.footer
  .container
    center
      span Built with  
      //a(target="_blank", href="http://youtu.be/N-soFXDN6Ss#t=58", style="text-decoration: none;")  &#x2665;
      a(target="_blank", href="http://youtu.be/hkOnH36S_pY", style="text-decoration: none;")  &#x2665;
      span   by  
      a(target="_blank", href="http://blog.coolaj86.com")  AJ ONeal
