//- modal-dialog & model-content are containers for this template
//-.auth-modal(ng-init="L.authType = 'login'; L.showSecret = false;")
.auth-modal(ng-init="L.authType = 'create-account'; L.showSecret = true;")
  .modal-header
    button.close(type="button", ng-click="L.cancel()") &times;
    h4.modal-title {{ L.title }}
    .alert(ng-if="L.alertMessage", ng-class="{{L.alertType}}")
      span(ng-bind="L.alertMessage")
    ul.nav.nav-tabs
      //- TODO make RESTful
      li(ng-class="{ active: 'login' == L.authType }")
        a(ng-click="L.authType = 'login'; L.showSecret = false;") Login
      li(ng-class="{ active: 'create-account' == L.authType }")
        a(ng-click="L.authType = 'create-account'; L.showSecret = true;") Create Account
      li(ng-class="{ active: 'social' == L.authType }")
        a(ng-click="L.authType = 'social'") Social
      li(ng-class="{ active: 'token' == L.authType }")
        a(ng-click="L.authType = 'token'") Developer

  .modal-body


    .account.signin-option(ng-if="'login' == L.authType || 'create-account' == L.authType")
      .row
        form(ng-submit="L.loginOrCreate()")
          .col-md-6
            .form-group
              //- or user or app id
              //- TODO forgot username
              label(for='username') Username
              //- | Email | Phone
              input.form-control(ng-model="L.auth.uid", type='text', placeholder="ex: john.doe")
          .col-md-6
            .form-group
              //- or user or app secret
              //- TODO forgot passphrase
              label(for='password') Passphrase
              span &nbsp;&nbsp;&nbsp;
              label.checkbox-inline
                input.checkbox(type="checkbox" ng-model="L.showSecret", ng-click="L.showSecret = !L.showSecret", tabindex="-1")
                span Show
              input.form-control(ng-if="!L.showSecret", ng-model="L.auth.secret", type='password', placeholder="ex: ************")
              input.form-control(ng-if="L.showSecret", ng-model="L.auth.secret", type='text', placeholder="ex: my secret phrase")
          .col-md-12
            .form-group
              button.btn.btn-primary(
                ng-if="'create-account' == L.authType"
                type="submit"
              ) Create Account
              button.btn.btn-primary(
                ng-if="'create-account' != L.authType"
                type="submit"
              ) Sign In
              span(ng-if="'create-account' == L.authType")
                span &nbsp;Have an account?
                a.btn.btn-link(href="" ng-click="L.authType = 'login'; L.showSecret = false;") Sign In
              span(ng-if="'create-account' != L.authType")
                span &nbsp;Need an account?
                a.btn.btn-link(href="" ng-click="L.authType = 'create-account'; L.showSecret = true;") Create Account
              a.btn.btn-default.pull-right(ng-click="L.noop()") Help



    .social.signin-option(ng-if="'social' == L.authType")
      hr
      .row
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-openid(type="button", ng-click="L.loginWithLoopback()")
              i.fa.fa-openid
              span.signin Sign In with Loopback
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-facebook(type="button", ng-click="L.loginWithFacebook()")
              i.fa.fa-facebook
              span.signin Sign In with Facebook
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-twitter(type="button", ng-click="L.loginWithTwitter()")
              i.fa.fa-twitter
              span.signin Sign In with Twitter
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-google-plus(type="button", ng-click="L.loginWithGplus()")
              i.fa.fa-google-plus
              span.signin Sign In with Google
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-ldsconnect(type="button", ng-click="L.loginWithLdsconnect()")
              i.fa
                img(src="/images/moroni.png")
              span.signin Sign In with LDS.org
        //-.col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-envelope(type="button", ng-click="L.loginWithEmail()")
              i.fa.fa-envelope
              span.signin Sign In with Email
              //- TODO open self oauth popup

    .developer.signin-option(ng-if="'token' == L.authType")
      .row
        form(ng-submit="L.loginWithToken()")
          .col-md-12
            .form-group
              label(for='token') Bearer Token (Client Access App Code)
              input.form-control(ng-model="L.authToken", type='text', placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx")
          .col-md-12(ng-if="L.demoProfiles.length")
            h4 Test Profiles
            ul.list-group
              li.list-group-item(ng-repeat="profile in L.demoProfiles")
                .row
                  .col-sm-2
                    strong(ng-bind="profile.role")
                  .col-sm-10
                    .btn.btn-link(ng-bind="profile.token", ng-click="L.authToken = profile.token")

          .col-md-12
            .form-group
              input.btn.btn-primary(type='submit', value='Sign In')
              a.btn.btn-default.pull-right(ng-click="L.noop()") Help
