.auth-modal
  .modal-header
    button.close(type="button", ng-click="L.cancel()") &times;
    h4.modal-title Please Sign In
    ul.nav.nav-tabs
      li.active
        a(href="#") Social
      //-li
        a(href="#") Account
  .modal-body
    .signin-options
      .row
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-ldsconnect(type="button", ng-click="L.loginWithLds()")
              i.fa
                img(src="/images/moroni.png")
              span.signin Sign In with LDS.org
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-facebook(type="button", ng-click="L.loginWithFb()")
              i.fa.fa-facebook
              span.signin Sign In with Facebook
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-twitter(type="button", ng-click="L.loginWithTw()")
              i.fa.fa-twitter
              span.signin Sign In with Twitter
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-google-plus(type="button", ng-click="L.loginWithGplus()")
              i.fa.fa-google-plus
              span.signin Sign In with Google
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-envelope(type="button", ng-click="L.loginWithEmail()")
              i.fa.fa-envelope
              span.signin Sign In with Email
