.container
  .row
    .col-sm-12
      h3 Behold, Message
      p {{ message }}
  .row
    .col-sm-12
      h3 Behold, M
      p {{ M.message }}
  .row
    .col-sm-12
      h3 Behold, Data
      pre
        code {{ M.data | json }}
  .row
    .col-sm-12
      h3 Behold, Session
      pre
        code {{ M.session | json }}
