.header
  ul.nav.pull-right
    li
      a(ng-show="!N.session", href="", ng-click="N.login()") Login
  ul.nav.nav-pills.pull-right
    li(ng-repeat="tab in N.tabs", ng-class="{ active: tab.active }")
      a(ng-href="{{tab.href}}") {{ tab.title }}
  h3.text-muted Harry Potter Sorting Hat Quiz!
